body {
    background-color: #232136;
    margin: 0;
    height: 100%;
}

p, li {
    color: #fffaf3;
    font-size: 14px;
    font-family: 'Courier Prime', monospace;
}

h1 {
    font-family: 'Courier Prime', monospace;
    font-size: 18px;
    color: #fffaf3;
}

header {
    display: flex;
    flex-direction: row-reverse;
    background-color: #56526e;
}

.index-nav {
    width: 175px;
    height: auto;
}

.topbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    font-family: 'Courier Prime', monospace;
    color: #fffaf3;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: #ea9a97;
}

a:visited {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.note-button {
    color: #e0def4;
    border: none;
    background-color: #232136;
    text-align: center;
    font-size: 32px;
    margin: 4px 2px;
    padding: 8px;
    border-radius: 50%;
}

.note-button:hover {
    background-color: #56526e;
}

.main-container {
    margin: auto;
    width: 20%;
    padding-top: 50px;
    padding-right: 40%;
}

.open-slide-out {
    color: #e0def4;
    border: none;
    background-color: #232136;
    font-size: 36px;
}

.open-slide-out:hover {
    color: #ea9a97;
}

.note-area {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
}

.note-button-div {
    width: 25%;
    float: left;
}

.title-button-div {
    margin-left: 10%;
}

textarea {
    background-color: #fffaf3;
    border: none;
    outline: none;
    color: #191724;
    resize: none;
    width: 500px;
}

::placeholder {
    color: #191724;
    font-family: 'Courier Prime', monospace;
    font-size: 14px;
}

.slide-out {
    height: 100%;
    width: 240px;
    position: fixed;
    margin-top: 50px;
    left: 0;
    top: 0;
    background-color: #56526e;
    display: flex;
    flex-direction: column;
  }

  .slide-out li {
    list-style: none;
    font-size: 18px;
    padding: 5px;
    padding-left: 12%;
  }

  .slide-out h1 {
      padding-left: 25%;
      font-size: 22px;
      font-weight: bolder;
      color: #ea9a97;
  }

  .slide-out .open-slide-out {
      background-color: #56526e;
      margin-left: 70%;
  }

  #note-buttons {
      float: right;
  }

  .save-delete {
    color: #e0def4;
    border: none;
    background-color: #232136;
    font-family: 'Courier Prime', monospace;
  }

  .save-delete:hover {
      color: #ea9a97;
  }
  
  @media screen and (max-width: 600px) {
    h1, p, a {
        font-size: 12px;
    }

    .main-container {
        display: flex;
        justify-content: center;
    }

    .main-container h1 {
        margin: 30px 20px;
        white-space: nowrap;
    }

    .index-nav {
        width: 50%;
    }

    .note-button {
        font-size: 14px;
    }

    .slide-out {
        width: 20%;
        margin-top: 45px;
    }

    .slide-out li {
        list-style: none;
        font-size: 10px;
        padding: 5px;
    }
    
    .slide-out h1 {
        padding-left: 10%;
        font-size: 14px;
    }

    ul {
        padding-left: 0;
        width: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    ::placeholder {
        font-size: 12px;
    }

    .slide-out .open-slide-out {
        font-size: 22px;
        margin-left: 0;
    }

    textarea {
        width: 200px;
    }

  }

